In [ ]:
# While Loop

In [6]:
i = 1
while (i<=10):
    print("Golmaal", i)
    i = i+1
print("DONE")

Golmaal 1
Golmaal 2
Golmaal 3
Golmaal 4
Golmaal 5
Golmaal 6
Golmaal 7
Golmaal 8
Golmaal 9
Golmaal 10
DONE

In [9]:
# A program to write 1 to 50 using while loop

i = 1
while (i<=50):
    print(i)
    i = i+1
    
print("DONE")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
DONE

In [11]:
# Prog to print content of the list using while loop

f = ["banana","apple","mango","chickoo","lichi","papaya"]
i=0
while (i<len(f)):
    print(f[i])
    i = i+1

banana
apple
mango
chickoo
lichi
papaya

In [20]:
# Prog to print content of the list using for loop

f = ["banana","apple","mango","chickoo","lichi","papaya"]
for x in f:
    print(x)
    print("\n")

banana


apple


mango


chickoo


lichi


papaya

In [ ]:
#Range function in Python

In [21]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [22]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [23]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [24]:
-8//3

-3

In [2]:
#for with else

for x in range(1,6):
    print(x)
else:
    print("Done")

1
2
3
4
5
Done

In [ ]:
for i in range(1, 10):
    print(i)
    if i==5:
        break
else:
    print("Done") #it will not be executed

In [5]:
# break

for i in range(1, 10):
    print(i)
    if i==5:
        break
else:
    print("Done") #it will not be executed if break is applied in between

1
2
3
4
5

In [6]:
#continue

for i in range(1, 10):
    if i==5:        # i==5  will not be executed for only this
        continue
    print(i)
else:
    print("Done")

1
2
3
4
6
7
8
9
Done

In [11]:
#A program to write a multiplication table of a given number using for loop

n = int(input("Enter a number: "))
for i in range(1,11):
    print (f"{n} x {i} = ",n*i)
else:
    print("Done")

Enter a number: 8
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
8 x 10 =  80
Done

In [20]:
# Program to greet all the persons stored in a list whose name start with s

l = ["Sohail","Samaira","Shahin","Kiaan","Hina"]

for name in l:
    nameL = name.lower()
    if nameL.startswith("s"):
        print("Hello and welcome,",name)

Hello and welcome, Sohail
Hello and welcome, Samaira
Hello and welcome, Shahin

In [22]:
#A program to write a multiplication table of a given number using WHILE loop

n = int(input("Enter a number: "))
i = 1
while (i<=10):
    print(f"{n} X {i} = ",i*n)
    i = i+1
else:
    print("DONE")

Enter a number: 5
5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
5 X 10 =  50
DONE

In [1]:
# Program to find whether a given number is prime of not

n = int(input("Enter a number: "))
if n==0:
    print(f"Zero is not a prime number")
else:
    
    prime = True
    for i in range(2,n):
        if n%i==0:
            prime = False
            break
    if prime:
        print(f"The number {n} is a Prime Number")
    else:
        print(f"The number {n} is a not a prime number")

Enter a number: 6
The number 6 is a not a prime number

In [4]:
#Program to find sum of first n natural numbers using while loop

n = int(input("Enter a number: "))
sum = 0
i = 0
while i<=n:
    sum = sum + i
    i= i+1

print(f"The sum of first {n} natural numbers is ",sum)

Enter a number: 5
The sum of first 5 natural numbers is  15

In [6]:
#Factorial of the entered number using for loop
n = int(input("Enter a number: "))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(f"Factorial of the number {n} is {fact}.")

Enter a number: 4
Factorial of the number 4 is 24.

In [7]:
# program to print star pattern
#  *
#  * *
#  * * *

n = 3
for i in range(4):
    print("* "*i)

*
* *
* * *

In [4]:
# program to print star pattern
#   *
#  * *
# * * *

n = 3
for i in range(n+1):
    print(" "*(n-i) + "* "*i)
    i = i+1

  *
 * *
* * *

In [28]:
# program to print star pattern by taking input
#   *
#  ***
# *****
n = int(input("Enter a number: "))
for i in range(n+1):
    print(" "*(n-i) + "*"*(2*i-1))
    i = i+1

Enter a number: 10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [67]:
# Program to print a square made of stars

n = int(input("Enter a number: "))
for i in range(1,n+1):
    if i==1 or i==n:
        print("* "*n)
        i = i+1
    else:
        print("* "+("  "*(n-2))+"*")

Enter a number: 9
* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

In [71]:
n = 5
for i in range(1,n+1):
    if i==1 or i==n:
        print("* "*n)
        i = i+1
    else:
        print("* "+("  "*(n-2))+"*")

* * * * *
*       *
*       *
*       *
* * * * *

In [73]:
#Multiplication table of n in reversed order using FOR loop

n = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{n} X {11-i} = {n*(11-i)}")
    i = i+1

Enter a number: 5
5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [76]:
#Multiplication table of n in reversed order using WHILE loop

n = int(input("Enter a number: "))
i=10
while i>=1:
    print(f"{n} X {i} = {n*i}")
    i = i-1

Enter a number: 5
5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5